<link rel="icon" href="/icons/favicon.ico" sizes="16x16 32x32 48x48" />
    <link rel="icon" href="/icons/favicon-16.svg" type="image/svg+xml" />
    <link rel="icon" href="/icons/eshyra-192.png" type="image/png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/icons/eshyra-180.png" />
